@model MiMascota
 
<h2>Formulario de registo de MiMascota</h2>

@Html.ValidationSummary()

<form asp-action="RegistroMiMaascota" method="post">

<div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" asp-for="Nombre" />
</div>
<div class="form-group">
    <label>Edad:</label>
    <input type="text" class="form-control" asp-for="Edad" />
</div>
<div class="form-group">
    <label>Raza:</label>
    <input type="text" class="form-control" asp-for="Raza" />
</div>

<div class="form-group">
    <label>Tamaño:</label>
    <input type="text" class="form-control" asp-for="Tamaño" />
</div>
<div class="form-group">
    <label>Sexo:</label>
    <input type="text" class="form-control" asp-for="Sexo" />
</div>
<div class="form-group">
    <label>Descripción:</label>
    <input type="text" class="form-control" asp-for="Descripción" />

</div>
<div class="form-group">
    <label>Nombre del Dueño:</label>
    <input type="text" class="form-control" asp-for="NombreDueno" />

</div>

<div class="form-group">
    <label>Telefono:</label>
    <input type="text" class="form-control" asp-for="Telefono" />
</div>
 <div class="form-group">
        <button class="btn btn-primary" type="submit">Registrar</button>
    </div>


</form>
