@{
    ViewData["Title"] = "Contactanos";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Calle Varsovia Nro. 332<br />
    Surquillo, Lima<br />
    <br />
    <strong>Teléfono:</strong> 511267-8803<br />

    <strong>Email:</strong> <a href="mailto:MiMascota@usil.pe">MiMascota@usil.pe</a>
</address>
