@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner5.jpg" alt="" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner3.jpg" alt="" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="que-creamos">

    <h1>Vision </h1>
    <p><h4>
    Buscamos incentivar las adopciones de perros y gatos, poniendo en contacto mediante ésta
    aplicación, a personas de buen corazón que se encuentren interesadas en brindar un hogar
    y mucho amor a nuestros pequeños amigos, poniéndolos en contacto con personas e instituciones
    que se encargan de recoger de las calles animales en situación de abandono y maltrato.
    </h4></p>
</div>
<div id="construimos">
    <div class="contenedor">
        <div id="conexiones">
            <h3>Siguenos en nuestras redes sociales y canales autorizados </h3>
        </div>
        <div id="archivos">
            <div class="row">
                <div class="col-md-4">
                    <h4>Es tu momento de hacer la diferencia y poder ayudar a un ser vivo.</h4>
                </div>
                <div class="col-md-offset-2">
                    <img src="~/images/siguenos.jpg" alt="" height="60" width="120" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>