
@{
    ViewData["Title"] = "IniciarSesion";
}

<h2>IniciarSesion</h2>

<div class="row">
    <div class="col-md-6">

        <form action="~/cuenta/autenticar" method="post">

            <div class="form-group">
                <label>Correo:</label>                
               
            </div>

            <div class="form-group">
                <label>Contraseña:</label>
               
            </div>

            

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Iniciar sesión</button>
            </div>

            <div class="g-recaptcha" data-sitekey="6Ld2KXEUAAAAANFMsk6hcIoZhmDHA618oAVPUxxV"></div>

        </form>

    </div>

</div>
