@model EncuentraAtuMascota.Models.Adoptar

@{
    ViewData["Title"] = "Modificar S.Adopción";
}

<h2>Modificar Solicitud de Adopción</h2><hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Modificar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreAdoptante" class="control-label"></label>
                <input asp-for="NombreAdoptante" class="form-control" />
                <span asp-validation-for="NombreAdoptante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
                <a asp-controller="Adoptar" asp-action="Administrar" class="btn btn-default active">Cancelar</a>
            </div>

        </form>
    </div>
</div>
