@model EncuentraAtuMascota.Models.MiMascota

@{
    ViewData["Title"] = "Modificar";
}

<h2>Modificar información de Mascota</h2><hr />

<form asp-action="Modificar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tamaño" class="control-label"></label>
                <input asp-for="Tamaño" class="form-control" />
                <span asp-validation-for="Tamaño" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raza" class="control-label"></label>
                <input asp-for="Raza" class="form-control" />
                <span asp-validation-for="Raza" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDueno" class="control-label">Nombre del Dueño</label>
                <input asp-for="NombreDueno" class="form-control" />
                <span asp-validation-for="NombreDueno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label">Teléfono</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoMascota" class="control-label">URL foto de la Mascota</label>
                <input asp-for="FotoMascota" class="form-control" />
                <span asp-validation-for="FotoMascota" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
                <a asp-action="Administrar" class="btn btn-default active">Cancelar</a>
            </div>
        </div>
    </div>
</form>


